{% extends 'base.html.twig' %}

{% block contenu %}
  <h1>Entreprises</h1>
  <h3>Stages proposés par <span class="badge bg-secondary">{{entreprise.nom}}</span></h3>
  <br />

   {% for entreprise in entreprises %}			
					<!-- Affichage des elements de la liste -->
		        	<li><a href="{{ path('prostages_stagesParEntreprise' , {'nom' : entreprise.nom}) }}"> {{entreprise.nom}} </a></li>
				{% endfor %}
  </div>
{% endblock %}
