{% extends 'base.html.twig' %}

{% block contenu %}
  <h1>Formations</h1>
  <h3>Stages proposés pour <span class="badge bg-secondary">{{formation.intitule}}</span></h3>
  <br />

    {% for formation in formations %}			
					<a href="{{ path('prostages_stagesParFormation' , {'formation' : formation.Formation}) }}">{{formation.Formation}} <br>
		{% endfor %}
  </div>
{% endblock %}
